<template>
    <c-search-block onsearch={handleSearch}></c-search-block>
    <c-todo-list search-value={searchValue} search-priority={searchPriority} search-status={searchStatus}></c-todo-list>
</template>
