<template>
    <div class="slds-box">
        <lightning-layout>
            <div class="iconList slds-scrollable_y">
                <lightning-layout-item>
                    <lightning-vertical-navigation selected-item={selectedItem} onselect={handleSelect}>
                        <template for:each={finalSubList} for:item="todoSub">
                            <lightning-vertical-navigation-item-icon class="iconItem" key={todoSub.Id} name={todoSub.Id}
                                label={todoSub.Name} icon-name={todoSub.Icon}>
                            </lightning-vertical-navigation-item-icon>
                        </template>
                    </lightning-vertical-navigation>
                </lightning-layout-item>
            </div>
            <div class="subItems">
                <template for:each={todoSubs} for:item="todoSub">
                    <c-todo-sub-item key={todoSub.Id} todo-sub={todoSub} selected-item={selectedItem}></c-todo-sub-item>
                </template>
            </div>
        </lightning-layout>
    </div>
</template>
