<template>
    <div class="searchStyle">
        <lightning-radio-group label="Search by Priority" name="priorityRadio" options={priorityOptions}
            value={priorityValue} type="button" onchange={handleChangePriorityRadio}></lightning-radio-group>
        <lightning-radio-group label="Search by Status" name="statusRadio" options={statusOptions} value={statusValue}
            type="button" onchange={handleChangeStatusRadio}></lightning-radio-group>
        <lightning-input label="Search by Name" type="search" onchange={handleSearchChange} value={searchValue}>
        </lightning-input>
    </div>
</template>
