<template>
    <template if:true={isPopUpOpen}>
        <template if:true={isSystAdmin}>
            <section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <lightning-button-icon icon-name="utility:close" variant="bare-inverse" size="large"
                            class="slds-modal__close" title="Close" onclick={closeCreatePopUp}>
                        </lightning-button-icon>
                        <h2 class="slds-modal__title slds-hyphenate">Choose record type</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <lightning-radio-group name="radioRecord" label="Record type:" options={optionsRecord}
                            value={defaultRadio} required type="radio" onchange={handleRadio}></lightning-radio-group>
                        <span class="selectBtn">
                            <lightning-button variant="brand" label="Select" onclick={handleTypeChoose}>
                            </lightning-button>
                        </span>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <template if:true={isOpenCreateWindow}>
            <section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <lightning-button-icon icon-name="utility:close" variant="bare-inverse" size="large"
                            class="slds-modal__close" title="Close" onclick={closeCreatePopUp}>
                        </lightning-button-icon>
                        <h2 class="slds-modal__title slds-hyphenate">Create Todo</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <lightning-record-form record-type-id={recordTypeId} object-api-name={objectApiName}
                            fields={fields} oncancel={closeCreatePopUp} onsuccess={handleSuccess}>
                        </lightning-record-form>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </template>
</template>
