<template>
    <div class="slds-m-around_medium">
        <lightning-card title={todoData.Name}>
            <div class="slds-p-around_medium lgc-bg">
                <lightning-tile label="Record link" href={hrefRecord}>
                    <dl class="slds-dl_horizontal">
                        <dt class="slds-dl_horizontal__label">
                            <p class="slds-truncate fieldTitle" title="Description">Record type:</p>
                        </dt>
                        <dd class="slds-dl_horizontal__detail slds-tile__meta">
                            <p class="slds-truncate" title={todoData.RecordType.Name}>{todoData.RecordType.Name}</p>
                        </dd>
                        <dt class="slds-dl_horizontal__label">
                            <p class="slds-truncate fieldTitle" title="Description">Description:</p>
                        </dt>
                        <dd class="slds-dl_horizontal__detail slds-tile__meta">
                            <p class="slds-hyphenate" title={todoData.Description__c}>{todoData.Description__c}</p>
                        </dd>
                        <dt class="slds-dl_horizontal__label">
                            <p class="slds-truncate fieldTitle" title="Category">Category:</p>
                        </dt>
                        <dd class="slds-dl_horizontal__detail slds-tile__meta">
                            <p class="slds-truncate" title={todoData.Category__c}>{todoData.Category__c}</p>
                        </dd>
                        <dt class="slds-dl_horizontal__label">
                            <p class="slds-truncate fieldTitle" title="Priority">Priority:</p>
                        </dt>
                        <dd class="slds-dl_horizontal__detail slds-tile__meta">
                            <p class="slds-truncate" title={todoData.Priority__c}>{todoData.Priority__c}</p>
                        </dd>
                        <dt class="slds-dl_horizontal__label">
                            <p class="slds-truncate fieldTitle" title="Status">Status:</p>
                        </dt>
                        <dd class="slds-dl_horizontal__detail slds-tile__meta">
                            <p class="slds-truncate" title={todoData.Status__c}>{todoData.Status__c}</p>
                        </dd>
                        <dt class="slds-dl_horizontal__label">
                            <p class="slds-truncate fieldTitle" title="Owner">Owner:</p>
                        </dt>
                        <dd class="slds-dl_horizontal__detail slds-tile__meta">
                            <p class="slds-truncate" title={todoData.Owner.Name}>{todoData.Owner.Name}</p>
                        </dd>
                    </dl>
                </lightning-tile>
            </div>
            <lightning-button-group>
                <lightning-button label="Create SubTodo" data-recordid={todoData.Id} onclick={showCreatePopUp}>
                </lightning-button>
                <lightning-button label="Edit" data-recordid={todoData.Id} onclick={showEditPopUp}></lightning-button>
                <lightning-button label="Delete" data-recordid={todoData.Id} onclick={deleteTodo}></lightning-button>
            </lightning-button-group>
            <template if:true={isSubTodoExist}>
                <c-todo-sub-list todo-subs={todoData.Sub_ToDos__r}></c-todo-sub-list>
            </template>
        </lightning-card>
    </div>
</template>
