<template>
    <template if:true={isSelected}>
            <div class="slds-clearfix">
                <div class="description slds-float_left">
                    <p class="fieldTitle">Description: {todoSub.Description__c}</p>
                </div>
                <div class="btnGroup slds-float_right">
                    <lightning-button-icon onclick={showEditPopUp} icon-name="utility:edit" variant="border-filled"
                        alternative-text="Edit" title="Edit"></lightning-button-icon>
                    <lightning-button-icon onclick={handleDelete} icon-name="utility:delete" variant="border-filled"
                        alternative-text="Delete" title="Delete"></lightning-button-icon>
                </div>
            </div>
    </template>
</template>
